@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
	padding : 0 ;
	margin : 0 ;
}
header {
	position: relative;
	width: 100%;
	height: 100vh;
}
.container {
	width: 100%;
	position : relative;
}
.container-image {
	width: 100%;
	height: 100vh;
	background : url(assets/image1.jpg);
	background-size: cover;
	animation : animation 9s ease-in-out infinite;
	animation-direction: alternate;
	animation-delay: 3s;
	z-index: 0;
	position: absolute;
	top : 0 ;

}
.image-contaier-layout {
	width: 100%;
	height: 100vh;
	background-color : #000;
	opacity: 65%;
	position: absolute;
	top : 0 ;
	z-index: 1;
}


nav {
	position : absolute;
	width: 100%;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-burger {margin-left : 10px;}
.menu-burger div {height: 0.5px;background-color : #fff; margin-bottom: 7px;}

.menu-burger div:first-child {width: 20px;}
.menu-burger div {width: 28px;}

.menu-burger div:last-child {width: 38px;}

.logo h1 {
	font-size : 48px;
	color: rgba(255, 255, 255, 0.62);
	font-family: 'Rochester', cursive;
}
.search {
	position : relative;
	width: 247px;
	height: 31px;
}
.search-bar {
	position : relative ;
	width: 260px;
	height: 31px;
	text-align: center;
}
input[type=search]{
	width: 247px;
	height: 31px;
	border:none;
	background : none ;
	padding : 15px;
	border-radius: 8px;
	color: rgba(255, 255, 255, 0.62);
	font-family: 'Rochester', cursive;
	border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
input[type=search]:active {border : none}
input[type=search]::placeholder {
	padding : 4px;
	font-size : 20px;
	color: rgba(255, 255, 255, 0.62);
	border-bottom: 0.5px solid #fff;
	font-family: 'Rochester', cursive;
}
.fa-search {
	position: absolute;
	right : 10px;
	color : #fff;
	transform: translateY(50%);
}
.login {margin-right : 1em;}
.login a ,.login{
	font-size : 27px;
	color: rgba(255, 255, 255, 0.62);
	text-transform: none;
	text-decoration: none;
	font-family: 'Rochester', cursive;
	
}

/* side nav bar */

#dropMenu {
	width: 0;
	top : 0; 
	left : 0 ;
	height:100%;
	position: fixed;
	z-index: 3;
	transition: 0.5s;
	background : #000;
	overflow: hidden;
}

#dropMenu a {
	display: block;
	font-size : 20px;
	padding : 8px 8px 8px 32px;
	font-family: 'Roboto', sans-serif;
	color : #fff;
	text-decoration : none;
	transition: 0.3s;
	text-transform :capitalize;
}

#dropMenu a:hover {
	color : #888;
}

.container-middle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-direction: column;
	z-index: 2;
	bottom: 50%;
	text-align: center;
}
.container-middle p {
	font-size : 45px;
	color : #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 7%;
	animation-name: onload;
	animation-duration: 3s;
}
.container-middle button {
	margin-top : 29px;
	letter-spacing: 7%;
	width : 187px;
	height : 60px;
	font-size : 29px;
	border : none ;
	border-radius: 7px;
	text-align: center;
	font-family: 'Rochester', cursive;
	background: #000;
	border-radius: 8px; 
	display:inline-block;
	position:relative;
	color : #fff;
	background-image: 
    linear-gradient(to top, #000 50%, #fff 50%),
    linear-gradient(to top,#fff 50%, transparent 50%);
	-webkit-background-clip: text,padding-box;
	background-clip: text,padding-box;
	-webkit-text-fill-color: transparent;
	color: transparent;  
	background-size: 100% 200%;
	background-position: top;
	transition: background-position 0.5s ease-in-out;
	

}
.container-middle button:hover {
	background-position: bottom;
}

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.fade {
    display: none;
}
.image-container {
    top : 0 ;
    display: none;
	z-index: 5;
    width: 100%;
    position: absolute;
    height: 100vh;
}
.modal {
    top : 20%;
    position: relative;
    margin: auto ;
    max-width :1164px;
    height: 550px;
	z-index: 5;

}
.slider {
    width :100%;
    position: absolute;
    height: 550px;
    margin : auto;
	
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}
.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.modal a {
    position: absolute;top : 50%;
    font-size : 55px;
    color : #fff;
}
.prev {
    left : 0 ;
	z-index: 5;
}
.next {
    right : 0 ;
}
.content{
    max-width: 1164px;
    height: 100%;
    position : relative;
    display: flex;
    top : 5%;
    right : 15%;
    flex-direction: column;
    align-items: flex-end ;
}

.close {
    position: absolute;
	z-index: 5;
    top : 0 !important;
    right:0;
}

.content span h1 {
    font-size : 55px;
    font-family: 'Rochester', cursive;
    color: rgba(255, 255, 255, 0.62);}
.content form {
    display: flex;
    flex-direction: column;
    align-items: center ;
}
input[type=text]{
    width : 397px;
    height: 32px;
    background: none;
    border : none ;
    margin-bottom: 23px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.62);
}
input[type=text]::placeholder {
    font-family: 'Rochester', cursive;
    color : rgba(255, 255, 255, 0.62); 
    font-size: 20px;
    padding : 6px;
   
}
input[type=submit] {
    width: 184px;
    height: 42px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 8px;
    line-height: 26px;
    letter-spacing: 0.07em;
    font-size : 20px;
    font-family: 'Rochester', cursive;
    border : none ;
    text-align: center;
	background-image: 
    linear-gradient(to top, #000 50%, #000 50%),
    linear-gradient(to top,#fff 50%, transparent 50%);
	-webkit-background-clip: text,padding-box;
	background-clip: text,padding-box;
	-webkit-text-fill-color: transparent;
	color: transparent;  
	background-size: 100% 200%;
	background-position: top;
	transition: background-position 0.5s ease-in-out;
}
input[type=submit]:hover {
	background-position: bottom;
}

.container {
	width: 100%;
	height: 150vh;
	background-color: #000;
	display: grid;
	grid-template-columns: 50% 50%;
}

.left-container .img-card {
	max-width: 613px;
	height: 705px;
	padding-top : 20%;
}
.img-card {
	position: relative;
}
.img-card img {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: inherit;
	object-fit: cover;
}
.left-container .img-card .shadow {
	width: 100%;
	height: inherit;
	position: absolute;
	z-index: 1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 100%);
}
.right-container {
	width: 100%;
}
.right-container-content p {
	padding:20px;
}
.right-container .right-container-content {
	padding-top : 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color   : #fff;

}
.right-container .right-container-content span h1 {
	font-size: 66px;
	font-family: 'Rochester', cursive;
	color: rgba(255, 255, 255, 0.62);
	padding-bottom: 15%;
}
.right-container .right-container-content span h2  {
	font-family: 'Roboto';
	font-size: 27px;
	padding-bottom: 15%;
	line-height: 32px;
} 
.right-container-content button {
	width: 235px;
	height: 49px;
	border: 1px solid #98783B;
	box-sizing: border-box;
	background: none;
	font-family: 'Rochester', cursive;
	font-size : 27px;
	text-align: center;
	line-height: 35px;
	border-radius: 8px;
	color : #98783B;
	letter-spacing: 0.13em;
	background-image: 
    linear-gradient(to top, #000 50%,  #98783B 50%),
    linear-gradient(to top,#98783B 50%, transparent 50%);
	-webkit-background-clip: text,padding-box;
	background-clip: text,padding-box;
	-webkit-text-fill-color: transparent;
	color: transparent;  
	background-size: 100% 200%;
	background-position: top;
	transition: background-position 0.5s ease-in-out;
}
.right-container-content button:hover {
	background-position: bottom;
}
.line-hero {
	margin: 15%;
	width: 589px;
	height: 0px;
	border: 1px solid #FFFFFF;
}

footer {
	width: 100%;
	height: 40vh;
	background-color: #000;
	display: flex;
	justify-content: space-around;
}
footer ul {
	width: 100%;
	display: flex;
	flex-direction: column;
}
footer ul li {
	padding : 16px;
}

footer ul li:first-child  a {
		color: rgba(255, 255, 255, 0.62);
	font-size : 20px;
	color: rgba(255, 255, 255, 0.62);
	font-family: 'Rochester', cursive;
}
footer ul li a {

		color: rgba(255, 255, 255, 0.62);
		font-size : 14px;
	
		text-decoration: none;
		font-family: 'Roboto';
}
footer ul li a .fab {
	padding-right : 10px;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



@keyframes onload {from {opacity: 0;}to {opacity: 100%;}}
@-webkit-keyframes animation {
    0%     {background : url(assets/image1.jpg);background-size: cover ;}
    50.0%  {background : url(assets/image2.jpg);background-size: cover ;} 
	80.0% {background : url(assets/image3.jpg);background-size: cover ;}
    100.0%  {background : url(assets/image4.jpg);background-size: cover ;}
}

@keyframes animation {
    0%     {background : url(assets/image1.jpg);background-size: cover ;}
    50.0%  {background : url(assets/image2.jpg);background-size: cover ;} 
	80.0% {background : url(assets/image3.jpg);background-size: cover ;}
    100.0%  {background : url(assets/image4.jpg);background-size: cover ;}
}


